<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catharsis.Commons" version="4.0.1" targetFramework="net472" />
  <package id="DeepL.net" version="1.5.0" targetFramework="net472" />
  <package id="Google.Api.CommonProtos" version="2.6.0" targetFramework="net472" />
  <package id="Google.Api.Gax" version="4.2.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc" version="4.2.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc.GrpcCore" version="3.7.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.58.0-beta02" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.58.0-beta02" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.58.0-beta02" targetFramework="net472" />
  <package id="Google.Apis.Sheets.v4" version="1.57.0.2826" targetFramework="net472" />
  <package id="Google.Cloud.Translate.V3" version="3.0.0" targetFramework="net472" />
  <package id="Google.LongRunning" version="3.0.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.21.9" targetFramework="net472" />
  <package id="Grpc.Auth" version="2.50.0" targetFramework="net472" />
  <package id="Grpc.Core" version="2.46.5" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="2.50.0" targetFramework="net472" />
  <package id="Grpc.Net.Client" version="2.52.0" targetFramework="net472" />
  <package id="Grpc.Net.Common" version="2.46.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http.Polly" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="Polly" version="7.2.3" targetFramework="net472" />
  <package id="Polly.Extensions.Http" version="3.0.0" targetFramework="net472" />
  <package id="RestSharp" version="109.0.0-preview.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="7.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unity3D.SDK" version="2021.1.14.1" targetFramework="net472" />
  <package id="Yandex.Translator" version="2.0.0" targetFramework="net472" />
</packages>